PORT=3005
MONGO_URI_NOTIFICATION=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/fintech_notification-service?appName=Cluster0
RABBITMQ_URL=amqp://guest:guest@localhost:5672
JWT_SECRET=your_jwt_secret_key
